In [ ]:
import pandas as pd

data_list = [
    ['plastik', 5, True],
    ['kertas', 2, True],
    ['Logam', 3, True],
    ['kata', 3, False]
]

df_list = pd.DataFrame(data_list, columns=['jenis', 'Berat (Kg)', 'Daur Ulang'])
df_list

     jenis  Berat (Kg)  Daur Ulang
0  plastik           5        True
1   kertas           2        True
2    Logam           3        True
3     kata           3       False

In [26]:
import pandas as pd
import numpy as np
angka = np.array([['8,8,8'], ['7,7,7'], ['11,10,12']])

angka_split = np.array([row[0].split(',') for row in angka])

df_list = pd.DataFrame(angka_split, columns=['kiri', 'tengah', 'kanan'])
df_list
 

print(df_list)

  kiri tengah kanan
0    8      8     8
1    7      7     7
2   11     10    12

In [34]:
import pandas as pd
data_kamus ={
    'jenis': ['pkastik', 'kertas', 'logam', 'kaca'],
    'berat (kg)': [5, 2, 3, 4],
    'daur ulang': [True, True, True, False]
}

df_kampus = pd.DataFrame(data_kamus, columns=['jenis', 'berat (kg)', 'daur ulang'])
df_kampus

     jenis  berat (kg)  daur ulang
0  pkastik           5        True
1   kertas           2        True
2    logam           3        True
3     kaca           4       False

In [15]:
# df_list.to_csv('coba_export_list.csv', index=False)
df_list.to_excel('coba_excel_list.xlsx', index=False)

In [43]:
import pandas as pd

# baca file excel
df_excel = pd.read_excel('coba_excel_list.xlsx', sheet_name= 'Sheet1')
df_excel

     jenis  Berat (Kg)  Daur Ulang
0  plastik           5        True
1   kertas           2        True
2    Logam           3        True
3     kata           3       False

In [32]:
filter_df = df_excel['Berat (Kg)']
filter_df

0    5
1    2
2    3
3    3
Name: Berat (Kg), dtype: int64

In [36]:
# mengakses dalam baris ke
a = df_kampus.loc[3,'jenis']
b = df_kampus.iloc[1,0]
print(a)
print(b)

kaca
kertas

In [51]:
# (-, -1,12) memanggil data terakhir
a = 0

In [ ]:
# menggunakan iterrows untuk mengiterasi setiap baris
for i, row in df_kampus.iterrows():
    if row['daur ulang'] == True: 
        print(f"perulangan ke {i + 1} adalah\n {row['daur ulang']}")

perulangan ke 1 adalah
 True
perulangan ke 2 adalah
 True
perulangan ke 3 adalah
 True

In [55]:
for i, row in df_kampus.iterrows():
    a= row['daur ulang']
    if  a == True:
        print(f"jenis: {row['jenis']}, Berat: {row['Berat (Kg)']}kg, daurulang: {row['daur ulang']} ")

KeyError: 'Berat (Kg)'